.App {
  text-align: center;
  height: 100%;
  background-color: rgb(247, 247, 247);
  margin : 0 ; 
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden; 
    
   

}

.App-link {
  color: #61dafb;
}

.active{
  color:crimson;
}


.dropdown{
  width: 95%;
  padding: 10px;
  margin: 10px;
}

.sign{
  padding: 5px;
}
.sign-btn{
  width: 95%;
}

.question-list-container{
  background-color: #ffffff;
  margin: auto;
  width: 35%;
  height: 75%;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.list-btn{
    width:50%;
    display:block;
}