.App {
  text-align: center;
  height: 100%;
  background-color: rgb(247, 247, 247);
  margin : 0 ; 
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden; 
    
   

}

.App-link {
  color: #61dafb;
}


